[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=maeya
Exec=/usr/bin/invoker --type=d -s /opt/maeya/bin/maeya
Icon=/usr/share/icons/hicolor/80x80/apps/maeya80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
